{
    "PROXY_AUTHNAME":"",
    "PROXY_AUTHPASS":"",
    "DEV":{
        "CMS_DOMAIN":"",
        "CMS_LOGIN_EMAIL":"",
        "CMS_LOGIN_PASSWORD":""
    },
    "PROD":{
        "CMS_DOMAIN":"",
        "CMS_LOGIN_EMAIL":"",
        "CMS_LOGIN_PASSWORD":""
    }
}